@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    width: 100vw;
    height: 5vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

h4{
    margin-left: 5vw;

}

div{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

footer {
    height: 5vh;
    color: white;
    background: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
}